* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* NAVBAR */

.navbar {
  width: 100%;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #177986;
  color: white;
}

.navbar .active {
  background-color: rgb(212, 44, 134);
  color: white;
}

/* NAVBAR ENDS */


/* MAIN STARTS */
.main{
  height: 100vh;
}
/* MAIN ENDS */




















/* FOOTER */
.footer {
  display: flex;
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 20px;
}

.footer .item{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .tags{
  padding: 10px 0;
  color: white;
}

.footer .icons{
  display: flex;
  height: 100%;
  align-items: center;
}

.footer .icon{
  padding: 5px 15px;
}

.footer .para{
  text-align: center;
}

/* FOOTER ENDS */